.site-header .nav {
    width: 100%;
    flex-flow: column;

    li {
        text-align: center;
    }

    @include media-breakpoint-up(tablet) {
        width: auto;
        flex-flow: inherit;
        
        li {
            text-align: inherit;
        }
    }
}