.post-card {
    background: $white;
    border-radius: $border-radius;
    box-shadow: $box-shadow-lg;

    .post-body {
        padding: 1rem;
    }

    p:last-child {
        margin-bottom: 0;
    }

    .post-thumbnail-container {
        display: block;
        position: relative;
        overflow: hidden;

        &:after {
            position: absolute;
            background: url('../img/post-curve.svg') no-repeat bottom left;
            background-size: 100% auto;
            bottom: -2px;
            width: 100%;
            height: 22%;
            display: block;
            content: ' ';
            margin: 0;
        }
    }
}
