{% load thumbnail %}<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//morningcreative.co/static/css/site.css">
        <title>Page not found</title>
        <link rel="apple-touch-icon" sizes="180x180" href="//morningcreative.co/static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="//morningcreative.co/static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="//morningcreative.co/static/favicon/favicon-16x16.png">
        <link rel="manifest" href="//morningcreative.co/static/favicon/site.webmanifest">
        <link rel="mask-icon" href="//morningcreative.co/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <div class="show-flex flex-column viewport-height-100">
            <main class="margin-y-auto padding-y-4">
                <div class="container text-center">
                    <div class="grid">
                        <div class="cell-laptop-8 margin-x-auto">
                            <h1 class="h2">Oops</h1>
                            <p class="lead font-weight-normal">
                                Sorry, looks like the thing you were looking for has been
                                removed or scrubbed from the Internet out of embarrassment.
                            </p>

                            <div>
                                <a href="../" class="btn btn-secondary">Go back a step</a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
