{% extends 'base.html' %}
{% load bootstrap5 %}

{% block body %}
    <div class="container margin-y-4">
        <div class="grid">
            <div class="cell-tablet-8">
                <h1 class="h2">Confirm your subscription</h1>
                <p class="lead font-weight-normal">Enter the four-digit code you received in the confirmation email.</p>

                <form action="{{ request.path }}" method="post">
                    {% bootstrap_form form show_label=False %}
                    <button type="submit" class="margin-top-4 btn btn-lg btn-primary">Confirm &amp; subscribe</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock body %}