<tr>
    <td class="post-content-sans-serif" style="font-family: {{ body_font }}; vertical-align: top; font-size: 17px; line-height: 1.5em; color: #15212A; padding-bottom: 20px; border-bottom: 1px solid #e5eff5; max-width: 600px;" valign="top">
        <p>Hi!</p>
        <p>To confirm you&rsquo;d like to receive new Morning Creative journal prompts, click the button below and when asked for a secret phrase, enter</p>
        <p style="font-size: 18px; font-weight: bold;">{{ phrase }}</p>
        <p><a class="c-btn" href="{{ url }}" style="color: #fff; text-decoration: none;">Confirm subscription</a></p>
        <p>Do add mark@hellosteadman.com to your address book, to make sure new issues arrive straight away.</p>
        <p>If you didn&rsquo;t intend to subscribe to this newsletter, you can disregard this email (your details haven&rsquo;t been saved anywhere).</p>
    </td>
</tr>
