{% extends 'base.html' %}

{% block body %}
    <div class="container margin-y-4">
        <div class="grid">
            <div class="cell-tablet-8">
                <h1 class="h2">Please check your inbox</h1>
                <p class="lead font-weight-normal">You'll get an email from mark@hellosteadman.com with a link and a phrase to enter, so we can check you have control over that inbox, and that you're not a robot.\n\nIf it hasn't arrived after 5 minutes, check your spam folder.</p>
            </div>
        </div>
    </div>
{% endblock body %}
