{% extends 'base.html' %}

{% block body %}
    <main class="o-wrapper">
        <article>
            <header>
                <div class="o-grid">
                    <div class="o-grid__col o-grid__col--center o-grid__col--4-4-s">
                        <div class="c-post-header">
                            <h1 class="c-post-header__title">Unsubscribe from Morning Creative</h1>
                        </div>
                    </div>
                </div>
            </header>

            <div class="o-grid">
                <div class="o-grid__col o-grid__col--center o-grid__col--4-4-s">
                    <div class="c-post">
                        <div class="c-content">
                            <p><strong>The Morning Creative Journal Prompt is a newsletter for podcast creators and fans.</strong> In each issue, podcast producer and super-fan Mark Steadman profiles a new podcast episode, with particular focus put on one minute of audio.\n\nDiscover a new podcast every Sunday, and explore what makes great audio stand out.</p>
                            <hr>
                            <form action="{{ request.path }}" method="post">
                                {% for field in form.visible_fields %}
                                    <div>
                                        {% for error in field.errors %}
                                            <div class="u-alert u-alert--invalid">{{ error }}</div>
                                        {% endfor %}

                                        <label for="id_{{ field.html_name }}" class="u-mb-8 u-type-500">{{ field.label }}</label>
                                        <div class="u-color-gray">{{ field.help_text }}</div>
                                        {{ field }}
                                    </div>
                                {% endfor %}

                                <button type="submit" class="c-btn c-btn--action c-btn--full">Subscribe</button>
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </main>
{% endblock body %}
