{% extends 'base.html' %}
{% load bootstrap5 %}

{% block body %}
    <div class="container margin-y-4">
        <div class="grid">
            <div class="cell-tablet-8">
                <h1 class="h2">Unsubscribe from Morning Creative&rsquo;s journal prompts</h1>
                <p class="lead font-weight-normal">If it&rsquo;s all been a bit much, no worries – just pop your email address below and you&rsquo;ll be removed from the Journal Prompts list.</p>

                <form action="{{ request.path }}" method="post">
                    {% bootstrap_form form show_label=False %}
                    <button type="submit" class="margin-top-4 btn btn-lg btn-primary">Give your inbox some breathing room</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
