{% extends 'base.html' %}
{% load static %}

{% block body %}
    <header class="margin-top-4 margin-bottom-5 container">
        <div class="grid align-items-center">
            <div class="cell-tablet-8">
                <h1 class="h2">New episodes of Morning Creative arrive every weekday</h1>
                <p class="lead font-weight-normal margin-bottom-4">Morning Creative is the daily podcast to help you reignite your spark and set yourself up for the day, motivated and energised.</p>
                {% include 'podcast/buttons.html' %}
            </div>

            <div class="show-none show-tablet-block cell-tablet-4">
                <img alt="Podcast artwork" src="{% static 'img/artwork.jpg' %}" class="img-fluid rounded-3 shadow-lg">
            </div>
        </div>
    </header>

    <section id="content" class="container">
        <h2 class="h3 margin-bottom-4">All episodes</h2>

        <div class="pagination-context">
            <div class="grid">
                {% for obj in object_list %}
                    <div class="cell-tablet-4 pagination-item show-flex">{% include 'podcast/episode_card.html' with object=obj first_sentence=True %}</div>
                {% endfor %}

                {% if page_obj.has_next %}
                    <div class="cell-12">
                        <a href="?page={{ page_obj.next_page_number }}" rel="next" class="btn btn-secondary width-100 btn-pagination">Load more</a>
                    </div>
                {% endif %}
            </div>

            <div class="margin-top-4 background-prompts rounded-3 shadow-lg padding-4 text-light">
                <div class="grid">
                    <div class="cell-tablet-8 text-center margin-x-auto">
                        <p class="h3">A journal prompt delivered to your inbox,<br>every weekday</p>

                        <p class="lead font-weight-normal">
                            Turn an idea into an intention, with a short evening email delivering a simple prompt for your journal,
                            or to help keep the creative momentum going.
                        </p>

                        <a href="/prompt/" class="btn btn-lg btn-primary">See the latest prompt</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'podcast/buttons.html' with centre=True margin=True %}
{% endblock body %}
