{% load miditags %}{% if title %}<tr>
    <td class="post-title" style="font-family: {{ body_font }}; vertical-align: top; color: #15212A; padding-bottom: 10px; font-size: 42px; line-height: 1.1em; font-weight: 700; text-align: center;" valign="top" align="center">
        <span style="color: #15212A; display: block; text-align: center; margin-top: 50px; overflow-wrap: anywhere;">{{ title }}</span>
    </td>
</tr>{% endif %}

<tr>
    <td class="post-content-sans-serif" style="font-family: {{ body_font }}; vertical-align: top; font-size: 17px; line-height: 1.5em; color: #15212A; padding-bottom: 20px; border-bottom: 1px solid #e5eff5; max-width: 600px;" valign="top">
        {% miditags body 'email' %}
    </td>
</tr>
